name: Build & Push Docker image on Release

on:
  release:
    types: [published]
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE: ${{ github.repository }}   # ghcr.io/<owner>/<repo>

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR with PAT
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: gokhanus
          password: ${{ secrets.GH_TOKEN }}

      - name: Docker meta (tags & labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE }}
          tags: |
            type=semver,pattern={{version}}          # 1.0.2
            type=semver,pattern={{major}}.{{minor}}  # 1.0
            type=semver,pattern={{major}}            # 1
            type=raw,value=latest                    # latest
          labels: |
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
            org.opencontainers.image.description=Built from release ${{ github.ref_name }}

      - name: Build & push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          build-args: |
            APP_VERSION=${{ github.ref_name }}
          tags: ${{ steps.meta.outputs.tags }}       # pass tags to build
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
